body {
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../media/Nature.jpg);
}

.overlay {
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    opacity: 30%;
}

.header h1 {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    letter-spacing: 2px;
    color: #ffffff;
    position: relative;
    text-shadow: 7px 7px 10px #000;
}

body .optionSelection {
    background-size: cover !important;
    position: relative;
    margin: 0 auto;
}

.row-padding {
    /*background:linear-gradient(9deg, darkslategrey 0%, rgb(94, 151, 151) 100%);*/
      box-shadow:0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb,-4px 8px 8px rgba(0,0,0,0.1), -8px 16px 16px rgba(0,0,0,0.1), -16px 32px 32px rgba(0,0,0,0.15), -32px 64px 64px rgba(0,0,0,0.25);
      align-items: center;
  background-image: linear-gradient(to right, #054f7d, #00a7cf, #efe348, #861a54, #054f7d);
  background-size: 600%;
  background-position: 0 0;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
    padding-bottom: 5%;
    padding-top: 5%;
    border-radius: 15%;
    width: 60%;
    margin-left: 20%;
    /*box-shadow: 2px 4px 10px 1px #000;*/
}

@keyframes gradients {
    0% { background-position: 0  0; }
   25% { background-position:50% 0; }
   50% { background-position:90% 0; }
   60% { background-position:60%;   }
   75% { background-position:40%;   }
  100% { background-position: 0  0; }
}

.row-padding label {
    color: #ffffff;
    text-shadow: 2px 2px 3px #000;

}

.row-padding h3 {
    color: #ffffff;
    text-shadow: 2px 2px 3px #000;
}


.row-padding h4 {
    color: #ffffff;
    background-color: #2d5166;
}

select {
    border-radius: 10px;
}

#inputTemp {
    border-radius: 10px;
}

.convert {
    border-radius: 10px;
    /*border: none;*/
}

.convert:hover{
    background-color: #273f5a;
    color: #eee;
}


.reset {
    border-radius: 10px;
    /*border: none;*/
}

.reset:hover{
    background-color: #273f5a;
    color: #eee;
    
}

.inputTemp:focus {
    /* Blue border color */
    border-color: #007bff;
    /* shadow effect */
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
    outline-color: #007bff;
}

.fromUnit:focus {
    /* Blue border color */
    border-color: #007bff;
    /* shadow effect */
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
    outline-color: #007bff;
}

.toUnit:focus {
    /* Blue border color */
    border-color: #007bff;
    /* shadow effect */
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
    outline-color: #007bff;
}